<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--namespace는 파일명을 적음!-->
<mapper namespace="com.jinju.Ramyun.recipe.dao.RecipeMapper">

    <!--id는 메소드명, DTO에 @Alias의 이름을 적으면됨!-->
    <select id="recipeList" resultType="recipe">
        select * from ramyun_recipe
    </select>

<!--    <select id="getBoardDto" resultType="recipe">-->
<!--        select * from my_table where id = #{id}-->
<!--    </select>-->

    <insert id="recipeCreate">
        insert into ramyun_recipe(title, picture, content, poster, visitCount, commentNum)
            values(#{title}, #{picture}, #{content}, #{poster}, #{visitCount}, #{commentNum})
    </insert>

    <update id="recipeUpdate">
        update ramyun_recipe
        set title = #{title}
        where num = #{num}
    </update>

    <delete id="recipeDelete">
        delete from ramyun_recipe
        where num = #{num}
    </delete>

</mapper>